.app-menu {
  height: 100%;
  background-color: var(--vt-c-bg-front);
  backdrop-filter: blur(5px);
  @apply shadow-md shadow-gray-500 dark:shadow-sm;
  .menu-box {
    @apply h-full overflow-scroll p-3 pt-6;
  }
}